
<div class="container">
    <div class="col-xs-12 col-md-8 col-md-offset-2 vpadding signin">
        <div class="row">
            <alert type="alert alert-success" ng-show="passwordResetController.showProceed" ng-bind="'PASSWORD_RESET_PROCEED' | translate"></alert>
            <form role="form" id="loginForm" ng-hide="passwordResetController.token">
                <div class="loginwithaccount">
                    <div class="form-group">
                        <div>{{'PASSWORD_RESET' | translate}}</div>

                        <label for="inputEmail" ng-bind="'LOGIN_EMAIL' | translate"></label>
                        <input type="email" class="form-control" id="inputemail" ng-model="passwordResetController.email">
                    </div>

                    <button type="submit" class="btn btn-default" ng-bind="'PASSWORD_RESET_RESET_BUTTON' | translate" ng-click="passwordResetController.reset()"></button>
                </div>
            </form>

            <form role="form" id="resetForm" ng-show="passwordResetController.token">
                <div class="loginwithaccount">
                    <div class="form-group">

                        <label for="inputPassword" ng-bind="'PASSWORD_RESET_PASSWORD' | translate"></label>
                        <input type="password" class="form-control" id="inputPassword" ng-model="passwordResetController.password">
                    </div>

                    <div class="form-group">

                        <label for="inputPassword2" ng-bind="'PASSWORD_RESET_PASSWORD_REPEAT' | translate"></label>
                        <input type="password" class="form-control" id="inputPassword2" ng-model="passwordResetController.password2">
                    </div>

                    <button type="submit" class="btn btn-default" ng-bind="'PASSWORD_RESET_RESET_BUTTON' | translate" ng-click="passwordResetController.confirm()"></button>
                </div>
            </form>
        </div>
    </div>
</div>